# 忽略斗破苍穹节选文件夹
part2_textSpilt_graphGenerate/斗破苍穹节选/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/
.Python

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/

# pytype
.pytype/

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

#projects
part2_textSpilt_graphGenerate/Projects/

#output
output/

#result
result/